@import './_variables.css';
@import './_base.css';
@import './_utility.css';

body {
  display: grid;
  place-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  background: yellow;
  width: 100px;
  height: 100px;
}

form {
  display: grid;
  justify-content: center;
}
