@import './_variables.css';
@import './_base.css';
@import './_utility.css';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.button {
  width: 100%;
  background: yellow;
  border: 1px solid black;
  cursor: pointer;
  margin: 0;
}

.paragraph {
  width: 100%;
  border: 1px solid black;
  margin: 0;
}
