@import './_variables.css';
@import './_base.css';
@import './_utility.css';

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

button {
  margin: 10px;
  padding: 2px 5px;
}

.box {
  width: 200px;
  height: 200px;
  background: hotpink;
  transition: all 0.5s ease-in;
}

.blue {
  background: skyblue;
}

.rotation {
  transform: rotate(45deg);
}

.radius {
  border-radius: 50%;
}
